In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [67]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [119]:
# Find the most recent date in the data set.

# Querying the DB
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()

# Unpacking the result
last_date = [last_date[0] for _ in last_date]

# Converting date to string
last_date = str(last_date[0])

print(f'The last measurement date is: {last_date}')

The last measurement date is: 2017-08-23

In [120]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.

# Determining if there is a leap-year

# Converting last_date to datetime object
last_date = dt.datetime.strptime(last_date, '%Y-%m-%d')

year = last_date.year
month = last_date.month

# Depending on the month of the measure I need to determine if leap-year calculations are done on the current or previous year
if month < 3:
    year -=1

leap = False
if last_date.year % 4 == 0 and \
(last_date.year % 100 != 0 or last_date.year % 400 == 0):
    leap = True

days = 365
if leap == True:
    days = 366

# # Converting last_date to datetime object and substracting 365 days (1 year)
first_date = last_date - dt.timedelta(days=days)

# # Converting the first date to string
first_date = dt.datetime.strftime(first_date, '%Y-%m-%d')
first_date

In [126]:
# Perform a query to retrieve the data and precipitation scores
precipitation = session.query(Measurement.date, Measurement.prcp)

# Save the query results as a Pandas DataFrame and set the index to the date column


# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

TypeError: object of type 'Query' has no len()

In [117]:
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1bc53bca670>,
 'prcp': 0.08,
 'station': 'USC00519397',
 'id': 1,
 'date': '2010-01-01',
 'tobs': 65.0}

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()